@{
    ViewBag.Title = "About";
}
<br><br>
<h3><i>Your Friendly Reminder App for all Things Maintenance in Your Life.</i></h3>
<br>
<p><h4>Now you don't have to remember to replace your air filters in your house. Let's do that for you!</h4></p>
<p><h4>iMaintenanceTotal is an app created with the goal to remind you about all things maintenance around your house, your car, your health, etc.</h4></p>
<p><h4>With the ability to create a list of tasks, and reminders for those tasks, iMaintenanceTotal is a great, functional tool that will help you remember all those tasks you have to do.</h4></p>
