@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center">
    <h1>Welcome to <b>iMaintenanceTotal</b></h1>
    <p class="lead">Your Friendly Reminder App for all Things Maintenance in Your Life.</p>
    <p><a href="" class="btn btn-primary btn-lg">Join &raquo;</a><a href="" class="btn btn-primary btn-lg">Log In &raquo;</a></p>
</div>

<div class="row"></div>