@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center">
    <h1 class="welcome-imaint">Welcome to <b>iMaintenanceTotal</b></h1>
    <p class="lead">Your Friendly Reminder App for all Things Maintenance in Your Life.</p>
    <p class="jumbotron-p"><a href="/Account/Register" id="registerLink" class="btn btn-primary btn-lg btn-join">Join &raquo;</a><a href="/Account/Login" id="loginLink" class="btn btn-primary btn-lg">Log In &raquo;</a></p>
</div>

<div class="row"></div>

